.box-container {
  padding: 1rem;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 3rem;
  margin-bottom: 1.4rem;
  margin-right: 1.4rem;
  width: 400px;
  height: 100%;
}
.box-container-bordered {
  box-sizing: border-box;
  border-width: 1.5px;
  border-style: solid;
  border-color: #2c3e50;
}
.box-container-solid {
  background-color: white;
  box-shadow: 2px 2px 8px 0px rgba(160, 160, 160, .5);
}

.instance > h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

.App {
  margin: 16px 48px;
}

#instance-wrap {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

body {
  background-color: rgb(242, 243, 246);
}